/* ============== contenido principal ================ */

main {
    background-color: var(--color-fondo-secundario);
    transition: var(--transition);

    height: var(--w-full);
    width: var(--w-full);

    padding: var(--p-100);
    text-align: center;
}

.hover {
    border: var(--border-trasparente);
}

.hover:hover {
    background-color: var(--color-transpatente);
    border: var(--border-principal);
}



