
/* ---------------- PIE DE PÃGINA ---------------- */

.main_footer {

    background-color: var(--bg-footer); 
    color: var(--bg-buttons);    
    padding: var(--padding-20px) ;
    font-size: var(--font-pequena);
    height: var(--height-auto);
    width: var(--width-100vw);
    box-sizing: border-box;

}

.footer_section {
    display: flex;
    border-top: var(--border-principal); 
    border-bottom: var(--border-principal);
    margin: var(--m-30px);
    padding: var(--p-20px);
    height: var(--height-auto);
}

.footer_container {
    border-right: var(--border-principal);
}

.footer_title {
    width: var(--width-auto);
    height: var(--height-auto);
    padding-top: var(--p-10px);
    margin: var(--m-30px) var(--m-30px) var(--m-30px) var(--m-0px);
}

.contact_address {
    display: flex;
    margin: var(--m-30px) var(--m-30px) var(--m-30px) var(--m-0px);
    width: var(--width-auto);
    height: var(--height-auto);
    font-size: var(--font-titulo-grande);
    padding: var(--p-30px) var(--p-10px) var(--p-30px) var(--p-0px);
}

.sus {
    flex-direction: column;
    padding: var(--p-30px) var(--p-0px) var(--p-0px) var(--p-0px);
    height: var(--height-auto);
    width: var(--width-auto);
}

.sus > button {
    margin: var(--m-20px) var(--m-0px) ;
    padding: var(--p-5px);
    letter-spacing: var(--letter-spacing-1px);
    width: var(--width-auto);
    height: var(--height-40px);
    margin-left:var(--m-30px);
}

.sus > button:hover {
    border: var(--border-principal);
    background-color: var(--color-transpatente);
    color: var(--bg-buttons);  
    transition: all 0.3s ease-in-out;
}

.contact_info {
    flex-direction: column;
    padding: var(--p-0px) var(--p-20px) ;
}

.contact_address > h4 {
    padding: var(--p-0px)  var(--p-10px) ;
    margin: auto;
}
