/* ===== reset and global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* logo */
img {
    width: 2em;
}

/* ===== estilos generales ===== */
body {
    margin: auto 0.5em;
}

/* todas las seccion */
.section {
    margin: 1rem;
}

/* todos los contenedores */
.content {
    display: flex;
    flex-wrap: wrap;
}

/* contenido principal */
.contentMain {
    display: flex;
    flex-direction: column;
}

/* para todos los contenedores de texto */
.contentText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    white-space: pre-line;
    
}

/* todas las imagenes */
.img {
    object-fit: cover;
    overflow: hidden;
    width: 20%;
    height: auto;
}

/* todos los parrafos */
.text {
    text-align: justify;
}
