.main_footer {
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-principal);

    width: var(--w-full);
    height: var(--h-w-auto);
    padding: var(--p-30);

}

.footer_title {
    display: grid;
    grid-template-columns: auto auto;
    
}

.div_txt_footer {
    padding: var(--p-10);
    
}


.hr-footer {
    margin: var(--m-0) var(--m-30);
}

.contact_address {
    display: flex;
    gap: var(--g-10);
    padding: var(--g-10);
    align-items: center;
    
}

.contact_info {
    margin: auto;
}

.suscribirse {
    outline: none;
    padding: var(--p-5);
    transition: var(--transition);
    border-radius: var(--border-radius);
}

.suscribirse:hover {
    color: var(--color-texto-principal);
    background-color: var(--color-transpatente);
    border: var(--border-secundario);
    
    
}