/* ====== head ======= */
.mainMenu {
    flex-direction: row-reverse;
    gap: var(--g-30);
    position: absolute;
    right: var(--position-0);
    z-index: var(--z-base);
    margin: var(--m-0) var(--m-10);
    line-height: var(--line-heigth-1_5);

}

.menu {
    background-color: var(--color-shadow-principal);
    
}

.menu > ul  {
    list-style: none;
    text-align: center;
}
.menu > ul > li > a {
    color: var(--color-texto-principal);
    padding: var(--p-10);
    text-decoration: none;
}