/* aca van todos los componentes 
que se reutilizan en la pagina */
a:hover {
    text-decoration: underline;
}

button:hover {
    background-color: var(--color-light-backdrop);
    color: var(--color-dark-backdrop);
}

body {
    display: flex;                
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.1px;
    transition: all 0.5s ease-in;
}

.main_section {
    padding: 25px;
    background: var(--foto-oscura),
                var(--img-fondo-primario);
    background-repeat: no-repeat;     
    background-position: center;      
    background-size: cover;            
    min-height: 100vh;
}