/* ============== login ============= */

.main-login > img {
    width: var(--w-30);
    padding: var(--p-10);
    margin: auto;

}

.main-login {
    display: flex;
    flex-direction: column;
    gap: var(--g-10);
}

.main-login > h1 {
    font-size: var(--font-size-grande);
    margin-bottom: var(--m-30);
}

/* formulario */

.form_login {
    height: var(--h-w-auto);
}

.form_fieldset {

    display: flex;
    flex-direction: column;
    padding: var(--p-10);
    gap: var(--g-5);
    border-radius: var(--border-radius);
}

.form_fieldset > legend {
    text-align: left;
    font-size: var(--font-size-normal);
}

.form_fieldset > label {
    margin: var(--m-10);

}

.form_fieldset > input {
    padding: var(--p-5);
    padding-left: var(--p-10);
    border-radius: var(--border-radius);
    outline: none;
    border: none ;
    background-color: var(--color-input-claro);
}

.btn {
    margin: var(--m-20);
    padding: var(--p-5);

    color: var(--color-texto-secundario);
    border-radius: var(--border-radius);

    text-decoration: none;
    border: none;
}

.btn-envia {
    background-color: var(--color-input-claro);

}

.btn-link:hover {
    text-decoration: underline;
}



