

.main-section > h1  {
    margin-bottom: var(--m-50);
    font-size: var(--font-size-grande);
    font-size: var(--font-size-grande);
}

.product-item {
    border: var(--border-trasparente);
    background-color: var(--color-fondo-secundario);

    display: flex;
    flex-direction: column;
    text-align: left;

    box-shadow: var(--shadow-light);

    position: relative;

}

.product-item > h2  {
    margin: var(--m-10);
}

.product-item > img {
    min-width: 100%;
    min-height: 100%;
}

.link_a {
    text-align: left;
    width: 100%;
    border: none;
    outline: none;
}
.flechita {
    position: absolute;
    right: var(--position-10);
    bottom: var(--position-5);

    color: var(--color-texto-principal);
    text-decoration: none;
    
}
