.main-section {
    position: relative;
    display: flex;
    flex-direction: column;
}


.main-section > h1  {
    margin: var(--m-50);
    font-size: var(--font-size-grande);
    
}

.product-item {
    border: var(--border-trasparente);
    background-color: var(--color-fondo-secundario);

    display: flex;
    flex-direction: column;
    text-align: left;

    box-shadow: var(--shadow-light);

    position: relative;
    margin-bottom: var(--m-25);
}

.product-item > h2  {
    margin: var(--m-10);
}

.product-item > img {
    min-width: 100%;
    min-height: 100%;
    margin-bottom: var(--m-10);
}

.product-item > p {
    padding:  var(--p-10) var(--p-0) var(--p-10) var(--p-10) ;
}

.flechita {
    position: absolute;
    right: var(--position-10);
    bottom: var(--position-0);
}


