/* ---------------- TESTIMONIOS ---------------- */


.testimonios {
    box-sizing: border-box;
    text-align: justify;

    width: var(--width-100vw);
    height: var(--hight-auto);
    background-color: var(--bg-services);
    padding: var(--p-50px) var(--p-90px);
    color: var(--bg-buttons);
}

.title_testimonios {
    padding:  var(--p-35px)  var(--p-0px); 
}

.title_testimonios > h5 { 
    padding: var(--p-20px) var(--p-0px) ;
    font-size: var(--font-muy-pequena);

    font-family: arial;
    font-weight: 100
}

.testimonio {
    display: flex;

    padding-bottom: var(--p-40px);
    letter-spacing: var(--letter-spacing-1px);
}

.testimonio > h4 {
    padding:var(--p-0pz) var(--p-70px) ;
    width: var(--width-auto);
    
    text-align: center;
}

.testimonio > p {
    width: var(--width-auto);
    padding: var(--p-0px) var(--p-10px);
}







