.main_post {
    display: flex;
    flex-direction: column;
    gap: var(--g-10);
}

.main_post > p  {
    text-align: left;
    padding: var(--p-10);
}

.article-post {
    display: flex;
    border: var(--border-principal);
    gap: var(--g-5);
    margin: var(--m-20);

    box-shadow: var(--shadow-light);
}

.article-post > img {
    width: var(--w-half);
}

.div-post > p {
    padding: var(--p-15);
    text-align: left;

}



